div.card-base {
    width: 600px;

    img {
        width: 120px;
    }
}

div.detail-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    padding: 4px;

    *:nth-child(even) {
        justify-self: end;
    }
}

@media (max-width: 600px) {
    div.card-base {
        width: 360px;

        img {
            width: 80px;
        }
    }
}
